{% extends "base.html" %}
{% block title %}Запись пользователя {{current_user.username}}{% endblock %}
{# загружаем фильтр #}
{% load user_filters %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    <!-- Имя автора -->
                                    {{current_user.get_full_name}}
                                </div>
                                <div class="h3 text-muted">
                                     <!-- username автора -->
                                     @{{current_user.username}}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!--Количество записей -->
                                            Записей: {{total}}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

            <!-- Пост -->  
                <div class="card mb-3 mt-1 shadow-sm">
                        <div class="card-body">
                                <p class="card-text">
                                        <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                        <a href="/{{current_user.username}}/"><strong class="d-block text-gray-dark">@{{current_user.username}}</strong></a>
                                        <!-- Текст поста -->
                                        {{current_post.text}}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group ">
                                            {% if current_user.username == user.username %}
                                            <a class="btn btn-sm text-muted" href="/{{current_user.username}}/{{current_post.pk}}/edit" role="button">Редактировать</a>
                                            {% endif %}
                                        </div>
                                        <!-- Дата публикации  -->
                                        <small class="text-muted">{{current_post.pub_date}}</small>
                                </div>
                        </div>
                </div>
     </div>
    </div>
</main>
{% endblock %}